* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
  z-index: -4;
}
.color {
  position: absolute;
  filter: blur(150px);
}
.main .color:nth-child(1) {
  width: 600px;
  height: 600px;
  top: -300px;
  background-color: #ff359b;
}
.main .color:nth-child(2) {
  width: 700px;
  height: 700px;
  bottom: -150px;
  left: 10%;
  background-color: #fffd87;
}
.main .color:nth-child(3) {
  width: 500px;
  height: 500px;
  bottom: 150px;
  right: 34%;
  background-color: #00d2ff;
}
.box {
  position: relative;
}
.box .square {
  position: absolute;
  backdrop-filter:  blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: anim 10s linear infinite;
}
@keyframes anim {
  0%, 100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
.box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}
.box .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.box .square:nth-child(3) {
  right: -60px;
  bottom: 50px;
  width: 80px;
  height: 80px;
}
.box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.box .square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
}
.container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter:  blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.form h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}
.form h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background-color: #fff;
  animation: move 3s linear infinite;
}
@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 0;
  }
}
.input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 10px 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}
.input-box input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.input-box input[type = "submit"] {
  background-color: #fff;
  color: #666;
  margin-bottom: 20px;
  max-width: 100px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
.forget , .forget a {
  color: #fff;
  margin-top: 5px;
  font-weight: 600;
}

@media (max-width: 460px) {
  .container {
    max-width: 90%;
  }
  .forget a {
    display: inline-block;
  }
}